{% extends "base.html" %}

{% block content %}

<div class="border-success border-bottom">
    <a class="link-primary" href="{% url 'home_page_view' %}">Back</a> | {{ room_name }}
</div>

<div style="height: 450px; overflow-y: scroll;" id="message_box">
    {% for message in messages %}
    <div>
        <small class="badge bg-secondary">{{ message.user }}:</small> {{ message.decrypted_message }}
    </div>
    {% endfor %}
</div>

<div class="m-2 p-2">
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="message_input" onkeypress="sendByEnter(event)"
            placeholder="Type your message" autofocus>
        <button type="button" class="btn btn-success" id="send_btn" onclick="sendMessage()">Send</button>
    </div>
</div>


<script>
    function scrollToBottom() {
        var objDiv = document.getElementById("message_box");
        objDiv.scrollTop = objDiv.scrollHeight;
    }

    scrollToBottom();

    const socket = new WebSocket("ws://" + window.location.host + "/ws/chat/{{ room_name }}/{{ user }}/");

    socket.onopen = function (e) {
        console.log("Connection established!");
    };

    socket.onmessage = function (e) {
        var data = JSON.parse(e.data);
        var message_box = document.getElementById("message_box");
        var message = document.createElement("div");

        is_hate_speect = data.hate_speech ? "text-danger" : "";
        message.innerHTML = `<small class="badge bg-secondary">${data.user}:</small> <span class="${is_hate_speect}">${data.message}</span>`;
        message_box.append(message);
        scrollToBottom();
    };

    sendMessage = function () {
        var message = document.getElementById("message_input").value;
        var data = { "message": message };

        if (message.length > 0) {
            socket.send(JSON.stringify(data));
        }

        document.getElementById("message_input").value = "";
    }

    sendByEnter = function (e) {
        if (e.code == 'Enter') {
            sendMessage();
        }
    }
</script>

{% endblock %}