{% extends "base.html" %}

{% block content %}

{% if error %}
<div class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endif %}

<form action="/chat/" method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label for="room_name" class="form-label">Room Name</label>
        <input type="text" class="form-control" id="room_name" name="room_name" aria-describedby="room_name_help">
        <div id="room_name_help" class="form-text">New room will be created if doesn't exist.</div>
    </div>
    <div class="mb-3">
        <label for="user" class="form-label">User Nickname</label>
        <input type="text" class="form-control" id="user" name="user">
    </div>
    <button type="submit" class="btn btn-success">Join Chat Room</button>

</form>

{% endblock %}